<div class="container">
	<div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2">
		<div class="alert alert-warning" ng-show="loginCtrl.authMessage">
			<p>{{ loginCtrl.authMessage }}</p>
		</div>
		<form name="loginForm" class="form-horizontal" ng-submit="loginForm.$valid && loginCtrl.login()" novalidate>
			<fieldset>
				<div class="form-group">
					<div class="col-md-10 col-md-offset-1">
						<input type="email" ng-model="loginCtrl.user.username" placeholder="Email" class="form-control" autocomplete="off">
					</div>
				</div>

				<div class="form-group">
					<div class="col-md-10 col-md-offset-1">
						<input type="password" ng-model="loginCtrl.user.password" placeholder="Password" class="form-control" autocomplete="off">
					</div>
				</div>

				<div class="form-group">
					<div class="col-md-4 col-md-offset-4 col-xs-6 col-xs-offset-3">
						<button type="submit" class="btn btn-block btn-primary">Submit</button>
					</div>
				</div>
			</fieldset>
		</form>
	</div>
</div>