<div class="container" ng-cloak>
	<div ng-repeat="content in assignmentCtrl.assignment.content">
		<div ng-if="content.type === 'question'">
			<question ng-show="editing !== true"></question>
			<question-edit ng-show="editing === true"></question-edit>
		</div>
		<div ng-if="content.type === 'exercise'">
			<exercise></exercise>
		</div>
	</div>

	<div ng-show="assignmentCtrl.user.bIsTeacher">
		<div class="col-md-3 col-md-offset-3 col-xs-8 col-xs-offset-2">
			<btn class="btn btn-primary btn-block" ng-click="assignmentCtrl.addQuestion()">Add Question</btn>
		</div>
		<div class="col-md-3 col-md-offset-0 col-xs-8 col-xs-offset-2">
			<btn class="btn btn-primary btn-block" ng-click="assignmentCtrl.addExercise()">Add Exercise</btn>
		</div>
	</div>
</div>