<div class="exercise-edit panel panel-default">
	<div class="panel-heading config">
		<div class="row">
			<form class="form-inline">
				<div class="form-group">
					<input type="text" class="form-control" ng-maxlength="50" ng-model="exerciseEditCtrl.exercise.title" placeholder="Exercise Title"/>
				</div>

				<div class="form-group">
					<label class="control-label">Attempts Allowed</label>

					<input type="text" class="form-control small-input" ng-model="exerciseEditCtrl.exercise.triesAllowed" ng-pattern="onlyNumbers" ng-disabled="exerciseEditCtrl.question.triesAllowed === -1"/>

					<label class="control-label">or</label>
					<div class="checkbox">
						<label>
							<input type="checkbox" ng-model="exerciseEditCtrl.exercise.triesAllowed" ng-true-value="-1" ng-false-value=""> unlimited
						</label>
					</div>
				</div>

				<div class="form-group">
					<label class="control-label">Points</label>
					<input type="text" class="form-control small-input" disabled="" ng-value="exerciseEditCtrl.exercise.pointsWorth"/>
				</div>
			</form>
		</div>
	</div>

	<div class="panel-body">
		<div class="row med-spacer-top">
			<div class="col-md-10 col-md-offset-1">
				<textarea ui-tinymce="tinymceOptions" ng-model="exerciseEditCtrl.exercise.context"></textarea>
			</div>
		</div>

		<div class="row small-spacer-top">
			<div class="col-xs-12 exercise-tab-bar">
				<div class="col-md-2 col-xs-6 col-md-offset-0 col-xs-offset-3">
					<btn class="btn btn-default btn-block"  ng-click="exerciseEditCtrl.swapFocusFileType()">{{ exerciseEditCtrl.focusFileType === 'tests' ? 'Tests:' : 'Starter Files:' }}</btn>
				</div>
				<div class="col-md-7 col-xs-12">
					<div class="exercise-button-container" ng-repeat="codeFile in exerciseEditCtrl.exercise[exerciseEditCtrl.focusFileType] track by $index">
						<div class="btn-group">
							<btn class="btn btn-file" ng-class="exerciseEditCtrl.focusedFileIndex === $index ? 'btn-primary' : 'btn-default'" ng-click="exerciseEditCtrl.focusFile($index)">{{ codeFile.name }}</btn>

							<btn class="btn" double-click="exerciseEditCtrl.deleteFile($index)" double-click-class="btn-file-close btn-danger" ng-if="exerciseEditCtrl.focusedFileIndex === $index" ><i class="fa fa-times" aria-hidden="true"></i></btn>
						</div>
					</div>
				</div>

				<div class="col-md-3 col-xs-6 col-md-offset-0 col-xs-offset-6">
					<div class="col-xs-9">
						<input type="text" ng-model="exerciseEditCtrl.newFileName" placeholder="New File Name" class="form-control" autocomplete="off">
					</div>
					<btn class="btn btn-success" ng-click="exerciseEditCtrl.addFile()">+</btn>
				</div>
			</div>
		</div>

		<div ui-ace="exerciseEditCtrl.aceOptions" ng-model="exerciseEditCtrl.exercise[exerciseEditCtrl.focusFileType][exerciseEditCtrl.focusedFileIndex].code" ng-readonly="exerciseEditCtrl.exercise[exerciseCtrl.focusFileType].length === 0"></div>

		<div class="row med-spacer-top" ng-show="exerciseEditCtrl.focusFileType === 'tests'">
			<form class="form-inline">
				<div class="form-group col-md-8 col-md-offset-1">
					<label class="control-label inline-label col-xs-3">Test Description</label>
					<div class="col-xs-9">
						<input type="text" class="form-control full-input" ng-model="exerciseEditCtrl.exercise.tests[exerciseEditCtrl.focusedFileIndex].description" placeholder="description of the test's behaviour, e.g. calculator.add(3, 2) returns 5"/>
					</div>
				</div>

				<div class="form-group col-md-2 col-md-offset-0">
					<label class="control-label inline-label col-xs-6">Points</label>
					<div class="col-md-5 col-xs-6">
						<input type="text" class="form-control full-input" ng-model="exerciseEditCtrl.exercise.tests[exerciseEditCtrl.focusedFileIndex].pointsWorth" ng-pattern="onlyNumbers" ng-change="exerciseEditCtrl.recalculateTotalPoints()" ng-model-options="{ debounce: 500 }" />
					</div>
				</div>
			</form>
		</div>

		<div class="row small-spacer-bottom">
			<div class="col-md-4 col-md-offset-4 col-xs-6 col-xs-offset-3">
				<btn class="btn btn-success btn-block" ng-click="exerciseEditCtrl.editExercise();">Save</btn>
			</div>
			<div class="col-md-1 col-md-offset-2 col-xs-4 col-xs-offset-4">
				<btn class="btn" double-click="assignmentCtrl.deleteExercise($index, exerciseEditCtrl.exercise.exerciseIndex, exerciseEditCtrl.exercise._id)" double-click-class="btn-warning btn-danger">Delete</btn>
			</div>
		</div>
	</div>
</div>