<div class="exercise panel" ng-class="exerciseCtrl.getPanelClass('panel')">

	<div class="panel-heading">
		<div class="row">
			<div class="col-xs-7">
				<h3 class="panel-title">
					Exercise {{ exerciseCtrl.exercise.exerciseIndex + 1 }}: {{ exerciseCtrl.exercise.title }}
				</h3>
			</div>

			<div class="col-xs-2">
			</div>
			<div class="col-xs-2">
			</div>

			<div class="col-xs-1">
				<button class="btn btn-sm" ng-class="exerciseCtrl.getPanelClass('button')" ng-show="assignmentCtrl.user.role === 'teacher'" ng-click="exerciseCtrl.toggleEdit()">Edit</button>
			</div>
		</div>
	</div>

	<div class="panel-body">
		<div class="row small-spacer exercise-context">
			<div class="col-md-10 col-xs-10 col-xs-offset-1">
				<div class="context" ng-bind-html="exerciseCtrl.exercise.context | trustAsHTML"></div>
			</div>
			<div class="col-md-1 col-md-offset-0 col-xs-6 col-xs-offset-3">
				<p class="pull-right information">
					Points: {{ exerciseCtrl.exercise.pointsEarned }}/{{ exerciseCtrl.exercise.pointsWorth }}
				</p>
			</div>
		</div>

		<div class="row small-spacer-top">
			<div class="col-xs-12 exercise-tab-bar">
				<div class="col-md-9 col-xs-12">
					<div class="exercise-button-container" ng-repeat="codeFile in exerciseCtrl.exercise[exerciseCtrl.focusFileType] track by $index">
						<div class="btn-group">
							<btn class="btn btn-file" ng-class="exerciseCtrl.focusedFileIndex === $index ? 'btn-primary' : 'btn-default'" ng-click="exerciseCtrl.focusFile($index)">{{ codeFile.name + exerciseCtrl.exercise.language.fileExt }}</btn>

							<btn class="btn" double-click="exerciseCtrl.deleteFile($index)" double-click-class="btn-file-close btn-danger" ng-if="exerciseCtrl.focusedFileIndex === $index"><i class="fa fa-times" aria-hidden="true"></i></btn>
						</div>
					</div>
				</div>

				<div class="col-md-3 col-xs-6 col-md-offset-0 col-xs-offset-6">
					<div class="col-xs-9">
						<input type="text" ng-model="exerciseCtrl.newFileName" placeholder="New File Name" class="form-control" autocomplete="off">
					</div>
					<btn class="btn btn-success" ng-click="exerciseCtrl.addFile()">+</btn>
				</div>

			</div>
		</div>

		<div ui-ace="exerciseCtrl.aceOptions" ng-model="exerciseCtrl.exercise[exerciseCtrl.focusFileType][exerciseCtrl.focusedFileIndex].code"></div>

		<div class="row col-xs-12 med-spacer-bottom">
			<div class="well" ng-show="exerciseCtrl.compilationInfo.testResults.length > 0">
				<div ng-repeat="test in exerciseCtrl.compilationInfo.testResults">
					<i class="fa fa-check exercise-check" aria-hidden="true" ng-show="test.passed"></i>
					<i class="fa fa-times exercise-times" aria-hidden="true" ng-hide="test.passed"></i>
					{{ test.description }}
				</div>
			</div>
			<pre ng-show="exerciseCtrl.compilationInfo.errors.length > 0">Errors: {{ exerciseCtrl.compilationInfo.errors }}</pre>
		</div>

		<div class="row small-spacer-bottom">
			<div ng-show="assignmentCtrl.user.role === 'teacher'">
				<div class="col-md-4 col-md-offset-4 col-xs-6 col-xs-offset-3">
					<btn class="btn btn-success btn-block" ng-click="exerciseCtrl.testExercise()">Test & Save Solution</btn>
				</div>
			</div>

			<div class="col-md-4 col-md-offset-4 col-xs-6 col-xs-offset-3" ng-show="assignmentCtrl.user.role !== 'teacher'">
				<btn class="btn btn-success btn-block" ng-click="exerciseCtrl.submitExercise()">Submit</btn>
			</div>
		</div>
	</div>
</div>