<div class="question panel panel-primary" ng-init="questionCtrl.question = content" ng-click="questionCtrl.focus = true" ng-mouseleave="questionCtrl.focus = false">
	<div class="panel-heading">
		<h3 class="panel-title">Question: {{ questionCtrl.question.questionIndex }}</h3>
		<h3 class="panel-title">Question: {{ questionCtrl.question.question }}</h3>
		<h3 class="panel-title">Question Type: {{ questionCtrl.question.questionType }}</h3>
		<h3 class="panel-title">Points: {{ questionCtrl.question.pointsWorth }}</h3>
	</div>
	<div class="panel-body">
		<div class="medSpacer col-xs-12">
			<p>{{ questionCtrl.question }}</p>
			<p>{{ questionCtrl.question.answerOptions }}</p>
			<p>{{ questionCtrl.question.mcAnswer }}</p>
			<p>{{ questionCtrl.question.triesAllowed }}</p>
		</div>
		<div class="col-md-4 col-md-offset-4 col-xs-6 col-xs-offset-3" ng-show="questionCtrl.focus">
			<btn class="btn btn-primary btn-block" ng-show="assignmentCtrl.user.bIsTeacher" ng-click="editing = true">Edit</btn>
			<btn class="btn btn-success btn-block" ng-show="!assignmentCtrl.user.bIsTeacher" ng-click="questionCtrl.submitQuestion()">Submit</btn>
		</div>
	</div>
</div>