<div class="question-edit panel panel-default">
	<div class="panel-heading config">
		<div class="row">
			<form class="form-inline">
				<div class="form-group">
					<label class="control-label">Question Type</label>
					<select class="form-control" ng-model="questionEditCtrl.question.questionType">
						<option value="mc">Multiple Choice</option>
						<option value="fillblank">Fill in the Blank</option>
						<option value="frq">Free Response</option>
					</select>
				</div>

				<div class="form-group">
					<label class="control-label">Attempts Allowed</label>

					<input type="text" class="form-control" ng-model="questionEditCtrl.question.triesAllowed" ng-disabled="questionEditCtrl.question.triesAllowed === -1"/>

					<label class="control-label">or</label>
					<div class="checkbox">
						<label>
							<input type="checkbox" ng-model="questionEditCtrl.question.triesAllowed" ng-true-value="-1" ng-false-value=""> unlimited
						</label>
					</div>
				</div>

				<div class="form-group">
					<label class="control-label">Points</label>
					<input type="text" class="form-control" ng-model="questionEditCtrl.question.pointsWorth"/>
				</div>

			</form>
		</div>
	</div>

	<div class="panel-body">
		<form class="form-horizontal" name="editForm">

			<div class="row med-spacer-top">
				<div class="col-md-10 col-md-offset-1">
					<textarea ui-tinymce="tinymceOptions" ng-model="questionEditCtrl.question.question"></textarea>
				</div>
			</div>

			<div class="row med-spacer-bottom" ng-show="questionEditCtrl.question.questionType === 'fillblank' || questionEditCtrl.question.questionType === 'mc'">

				<div class="col-md-8 col-md-offset-2 small-spacer">
					<div class="form-group" ng-repeat="answer in questionEditCtrl.question.answers track by $index">

						<label class="col-md-3 control-label" ng-show="questionEditCtrl.question.questionType === 'fillblank'">Acceptable Answer {{ $index + 1 }}</label>

						<label class="col-md-3 control-label" ng-show="questionEditCtrl.question.questionType === 'mc'">Choice {{ $index + 1 }}</label>

						<div class="col-md-6 col-xs-8">
							<input type="text" class="form-control" ng-model="questionEditCtrl.question.answers[$index]"/>
						</div>
						<div class="col-md-1 col-xs-3">
							<btn class="btn btn-sm" double-click="questionEditCtrl.deleteAnswer($index)" double-click-class="btn-warning btn-danger"><i class="fa fa-times" aria-hidden="true"></i></btn>
						</div>
					</div>
				</div>

				<div class="col-md-2 col-md-offset-5 col-xs-6 col-xs-offset-3 tiny-spacer">
					<btn class="btn btn-primary btn-block" ng-click="questionEditCtrl.addAnswer()">Add Answer</btn>
				</div>

				<div class="col-md-8 col-md-offset-2">
					<div class="form-group small-spacer" ng-show="questionEditCtrl.question.questionType === 'mc'">
						<label class="col-md-3 col-xs-4 control-label">Answer</label>
						<div class="col-md-6 col-xs-8">
							<select class="form-control" 
								ng-model="questionEditCtrl.question.mcAnswer" 
								ng-options="questionEditCtrl.question.answers.indexOf(option) as option for option in questionEditCtrl.question.answers">
							</select>
						</div>
					</div>
				</div>

			</div>

			<div class="row med-spacer-top" ng-show="questionEditCtrl.question.questionType === 'frq'">
				<div class="col-md-6 col-md-offset-3">
					<div class="col-md-6 col-md-offset-3">
						<btn class="btn btn-block" ng-class="questionEditCtrl.question.bIsHomework ? 'btn-success' : 'btn-default'" ng-click="questionEditCtrl.question.bIsHomework = !questionEditCtrl.question.bIsHomework">Grade as Homework</btn>
					</div>
				</div>
			</div>

			<div class="row med-spacer-bottom">
				<div class="col-md-4 col-md-offset-4 col-xs-6 col-xs-offset-3">
					<btn class="btn btn-success btn-block" ng-click="questionEditCtrl.editQuestion()">Save</btn>
				</div>

				<div class="col-md-2 col-md-offset-2 col-xs-3 col-xs-offset-6">
					<btn class="btn" double-click="assignmentCtrl.deleteQuestion($index, questionEditCtrl.question.questionIndex, questionEditCtrl.question._id)" double-click-class="btn-warning btn-danger">Delete</btn>
				</div>
			</div>
		</form>
	</div>
</div>