<div class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">Add New Course</h4>
			</div>
			<div class="modal-body">
				<div class="col-md-8 col-md-offset-2" ng-show="addCourseCtrl.userMessages.length > 0">
					<div class="alert alert-dismissible alert-warning">
						<strong>Warning!</strong>
						<ul>
							<li ng-repeat = "message in addCourseCtrl.userMessages">{{ message }}</li>
						</ul>
					</div>
				</div>

				<ul class="nav nav-tabs centered" ng-show="addCourseCtrl.user.role === 'teacher'">
					<li class="col-md-3 active"><a href="#" data-toggle="tab" ng-click="addCourseCtrl.type = 'create'">Create</a></li>
					<li class="col-md-3"><a href="#" data-toggle="tab" ng-click="addCourseCtrl.type = 'fork'">Fork</a></li>
					<li class="col-md-3"><a href="#" data-toggle="tab" ng-click="addCourseCtrl.type = 'join'">Join</a></li>
				</ul>

				<form class="form-horizontal med-spacer-bottom" name="createForm" ng-show="addCourseCtrl.type === 'create'" novalidate>
					<div class="form-group">
						<label class="col-md-3 col-md-offset-1 control-label">Name</label>
						<div class="col-md-6">
							<input type="text" ng-model="addCourseCtrl.newCourse.name" placeholder="Michael's CS Class" class="form-control" autocomplete="off">
						</div>
					</div>

					<div class="form-group">
						<label class="col-md-3 col-md-offset-1 control-label">Identifier</label>
						<div class="col-md-6">
							<input type="text" ng-model="addCourseCtrl.newCourse.courseCode" ng-pattern="/^[a-zA-Z0-9]*$/"placeholder="i.e. MikeCS" class="form-control" autocomplete="off">
						</div>
					</div>

					<div class="form-group">
						<label class="col-md-3 col-md-offset-1 control-label">Course Password</label>
						<div class="col-md-6">
							<input type="text" ng-model="addCourseCtrl.newCourse.password" ng-pattern="/^[a-zA-Z0-9]*$/" placeholder="minimum 6 chars" class="form-control" autocomplete="off">
						</div>
					</div>

					<div class="form-group">
						<label class="col-md-3 col-md-offset-1 control-label">Default Language</label>
						<div class="col-md-6">
							<select class="form-control" ng-model="addCourseCtrl.newCourse.defaultLanguage">
								<option value="">Select Language</option>
								<option value="Java">Java</option>
								<option value="Python2">Python 2</option>
								<option value="Python3">Python 3</option>
							</select>
						</div>
					</div>
				</form>

				<form class="form-horizontal med-spacer-bottom" name="forkForm" ng-show="addCourseCtrl.type === 'fork'" novalidate>
					<div class="form-group">
						<label class="col-md-4 col-md-offset-0 control-label">Original Course Code</label>
						<div class="col-md-6">
							<input type="text" ng-model="addCourseCtrl.forkCourse.courseCodeToFork" placeholder="available in course info" class="form-control" autocomplete="off">
						</div>
					</div>

					<div class="form-group">
						<label class="col-md-4 col-md-offset-0 control-label">New Course Name</label>
						<div class="col-md-6">
							<input type="text" ng-model="addCourseCtrl.forkCourse.name" placeholder="" class="form-control" autocomplete="off">
						</div>
					</div>

					<div class="form-group">
						<label class="col-md-4 col-md-offset-0 control-label">New Course Code</label>
						<div class="col-md-6">
							<input type="text" ng-model="addCourseCtrl.forkCourse.courseCode" placeholder="minimum 6 chars" class="form-control" autocomplete="off">
						</div>
					</div>

					<div class="form-group">
						<label class="col-md-4 col-md-offset-0 control-label">New Course Password</label>
						<div class="col-md-6">
							<input type="text" ng-model="addCourseCtrl.forkCourse.password" placeholder="minimum 6 chars" class="form-control" autocomplete="off">
						</div>
					</div>
				</form>

				<form class="form-horizontal med-spacer-bottom" name="joinForm" ng-show="addCourseCtrl.type === 'join'" novalidate>
					<div class="form-group">
						<label class="col-md-4 col-md-offset-0 control-label">Course Code</label>
						<div class="col-md-6">
							<input type="text" ng-model="addCourseCtrl.joinCourse.courseCode" placeholder="ask course owner" class="form-control" autocomplete="off">
						</div>
					</div>

					<div class="form-group">
						<label class="col-md-4 col-md-offset-0 control-label">Invite Code</label>
						<div class="col-md-6">
							<input type="text" ng-model="addCourseCtrl.joinCourse.inviteCode" placeholder="ask course owner" class="form-control" autocomplete="off">
						</div>
					</div>
				</form>

				<form class="form-horizontal" name="registrationForm" ng-show="addCourseCtrl.type === 'register'" novalidate>
					<div class="form-group">
						<label class="col-md-3 col-md-offset-1 control-label">Registration Code</label>
						<div class="col-md-6">
							<input type="text" ng-model="addCourseCtrl.regInfo.identifier" placeholder="provided by teacher" class="form-control" autocomplete="off">
						</div>
					</div>

					<div class="form-group">
						<label class="col-md-3 col-md-offset-1 control-label">Course Password</label>
						<div class="col-md-6">
							<input type="text" ng-model="addCourseCtrl.regInfo.password" placeholder="provided by teacher" class="form-control" autocomplete="off">
						</div>
					</div>

					<div class="form-group">
						<label class="col-md-3 col-md-offset-1 control-label">Student ID</label>
						<div class="col-md-6">
							<input type="text" ng-model="addCourseCtrl.regInfo.gradebookID" placeholder="unsure? ask your teacher" class="form-control" autocomplete="off">
						</div>
					</div>
				</form>

			</div>

			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
				<button type="submit" class="btn btn-success" ng-click="addCourseCtrl.submit()">Create</button>
			</div>
		</div>
	</div>
</div>
