<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Dank Memes</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.5/paper/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css" />

    <!-- Custom CSS -->
    <link href="/stylesheets/landing.css" rel="stylesheet">
    <link href="/stylesheets/general.css" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Header -->
    <a name="about"></a>
    <div class="intro-header">
        <div class="container">

            <div class="row">
                <div class="col-xs-12">
                    <div class="intro-message">
                        <h1>CSGrader</h1>
                        <h3>Spend less time grading, and more time <em>teaching</em></h3>
                        <hr class="intro-divider">
                        <ul class="list-inline intro-social-buttons">
                            <li>
                                <a href="/join" class="btn btn-success btn-lg"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i></i><span class="network-name">&nbsp;&nbsp;Join</span></a>
                            </li>
                            <li>
                                <a href="/login" class="btn btn-primary btn-lg"><i class="fa fa-sign-in" aria-hidden="true"></i></i><span class="network-name">&nbsp;&nbsp;Log in</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->

    <!-- Page Content -->
    <div class="content-section-a">

        <div class="container">
            <div class="row spacer-top">
                <h1 class="text-center">Easy as 1-2-3</h1>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="col-xs-10 col-xs-offset-1">
                        <img class="scale-to-fit" alt="" src="/img/landing/123assignment.svg">
                    </div>
                    <div class="col-xs-12 small-spacer-bottom">
                        <h4 class="text-center">1.</h4>
                        <h5 class="text-center">Create assignments with custom exercises and questions</h5>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="col-xs-10 col-xs-offset-1">
                        <img class="scale-to-fit" alt="" src="/img/landing/123autograde.svg">
                    </div>
                    <div class="col-xs-12 small-spacer-bottom">
                        <h4 class="text-center">2.</h4>
                        <h5 class="text-center">Let your students have at it! Their efforts will be automatically graded by our servers</h5>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="col-xs-10 col-xs-offset-1">
                        <img class="scale-to-fit" alt="" src="/img/landing/123cloud.svg">
                    </div>
                    <div class="col-xs-12 small-spacer-bottom">
                        <h4 class="text-center">3.</h4>
                        <h5 class="text-center">Export your students' progress to whatever electronic gradebook or learning platform you use</h5>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-md-5 col-md-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Highly Configurable</h2>
                    <p class="lead">You have control over every part of the exercises you assign your students! <strong><em>You</em></strong> define the problem they're solving, <strong><em>you</em></strong> choose which videos or guides that come with every exercise, and <strong><em>you</em></strong> write the tests their code runs against. </p>
                </div>
                <div class="col-md-6 col-sm-pull-6 col-sm-6 med-spacer-bottom">
                    <img class="scale-to-fit" src="/img/landing/customizable.png" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->

    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-md-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Powerful, <br>yet accessible</h2>
                    <p class="lead">Don't have time to create an entire course by yourself? Share the load: group up with other teachers to create lessons and assignments. Or just fork another teacher's course!</p>
                </div>
                <div class="col-md-4 col-md-offset-2 col-sm-6 small-spacer">
                    <a href="http://www.freepik.com/free-photos-vectors/business"><img class="img-responsive" src="/img/landing/teamwork.png" alt=""></a>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->
    <div class="banner">

        <div class="container">

            <div class="row">
                <div class="col-xs-12">
                    <h1 class="text-center">Get Started &mdash; 100% free</h1>
                </div>
                <div class="col-md-2 col-md-offset-5 med-spacer-bottom">
                    <a href="/join" class="btn btn-default btn-lg btn-block"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i></i><span class="network-name">&nbsp;&nbsp;Join</span></a>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.banner -->

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="list-inline">
                        <li>
                            <a href="#about">About</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#contact">Contact</a>
                        </li>
                    </ul>
                    <p class="copyright text-muted small">Copyright &copy; Dank Memes 2016. All Rights Reserved</p>
                </div>
            </div>
        </div>
    </footer>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</body>
</html>