body {
  padding-top: 0px;
}

a {
  color: #00B7FF;
}

/* Spacing */

.spacer{
	margin-top: 60px;
	margin-bottom: 60px;
}

.spacer-top{
	margin-top: 20px;
	margin-bottom: 60px;
}

.spacer-bottom{
	margin-top: 60px;
	margin-bottom: 20px;
}

.med-spacer{
	margin-top: 40px;
	margin-bottom: 40px;
}

.med-spacer-top{
	margin-top: 15px;
	margin-bottom: 40px;
}

.med-spacer-bottom{
	margin-top: 40px;
	margin-bottom: 15px;
}

.small-spacer{
	margin-top: 20px;
	margin-bottom: 20px;
}

.small-spacer-top{
	margin-top: 5px;
	margin-bottom: 20px;
}

.small-spacer-bottom{
	margin-top: 20px;
	margin-bottom: 5px;
}

.tiny-spacer{
	margin-top: 10px;
	margin-bottom: 10px;
}

/* Images */
img.centered {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

img.scale-to-fit{
	width: 100%;
}

/* General */

.btn-normalcase{
	text-transform: none;
}

.hidden-space{
	visibility: hidden;
}

.btn-centered{
	margin: 0 auto;
}

/* Assignments */
.assignment .panel-heading .information{
	font-size: 15px;
	margin-bottom: 0px;
}

.assignment-search-well{
	padding-left: 35px;
	padding-right: 35px;
}

.assignment .panel-heading{
	padding-left: 30px;
	padding-right: 30px;
}

.assignment .panel-title{
	font-size: 24px

}

.assignment .panel-heading .btn{
	float: right;
}

.assignment .panel-body{
	padding-top: 30px;
	padding-right: 40px;
	padding-left: 40px;
}

.assignment-footer{
	height: 50px;
	line-height: 50px;
	background-color: #f5f5f5;
}

.assignment-footer .progress{
	margin-top: 21px;
	height: 10px;
}

/* Dashboard */
.panel-dashboard-course p{
	margin-bottom: 0px;
}

.course-title{
	font-size: 24px;
}

/* Questions */
.question .question-context .context{
	font-size: 15px;
}

.question textarea{
	background-color: #fafafa;
}

.question textarea.frq-textarea{
	padding-left: 10px;
	padding-right: 10px;
}

.question-edit .config .form-group{
	margin-left: 50px;
	margin-right: 50px;
}

.question-edit .config label{
	margin-left: 20px;
	margin-right: 20px;
}

.question-edit .config input[type="text"]{
	width: 30px;
}

/* Exercises */

.exercise .exercise-context .context{
	font-size: 15px;
}

.exercise .exercise-tab-bar, .exercise-edit .exercise-tab-bar{
	padding-left: 50px;
	padding-right: 50px;
}

.exercise-check{
	color: #4caf50;
}

.exercise-times{
	color: #e51c23;
}

.exercise-edit{
	min-height: 500px;
}

.exercise-edit .config .form-inline{
	padding-left: 70px;
}

.exercise-edit .config .form-group{
	margin-left: 50px;
	margin-right: 50px;
}

.exercise-edit .config label{
	margin-left: 20px;
	margin-right: 20px;
}

.exercise-edit .config .small-input{
	width: 30px;
}

.exercise-button-container{
	display: inline-block;
	margin-right: 10px;
}

.btn-file{
	min-width: 120px;
	text-transform: none;
}

.btn-file-close{
	background-color: #e6e6e6;
}

.exercise-edit .panel-body .form-inline .form-control.full-input{
    width: 100%;
}

.exercise-edit .panel-body label.inline-label {
	font-size: 16px;
    line-height: 37px;
    text-align: right;
}


/* ACE Editor */

.ace_editor { 
	height: 200px; 
}