body {
  padding-top: 0px;
}

a {
  color: #00B7FF;
}

/* General */

.btn-normalcase{
	text-transform: none;
}

.hidden-space{
	visibility: hidden;
}

.btn-centered{
	margin: 0 auto;
}

blockquote.readable{
	background-color: #fafafa;
}

/* Spacing */

.spacer{
	margin-top: 60px;
	margin-bottom: 60px;
}

.spacer-top{
	margin-top: 20px;
	margin-bottom: 60px;
}

.spacer-bottom{
	margin-top: 60px;
	margin-bottom: 20px;
}

.med-spacer{
	margin-top: 40px;
	margin-bottom: 40px;
}

.med-spacer-top{
	margin-top: 15px;
	margin-bottom: 40px;
}

.med-spacer-bottom{
	margin-top: 40px;
	margin-bottom: 15px;
}

.small-spacer{
	margin-top: 20px;
	margin-bottom: 20px;
}

.small-spacer-top{
	margin-top: 5px;
	margin-bottom: 20px;
}

.small-spacer-bottom{
	margin-top: 20px;
	margin-bottom: 5px;
}

.tiny-spacer{
	margin-top: 10px;
	margin-bottom: 10px;
}

/* Images */
img.centered {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

img.scale-to-fit{
	width: 100%;
}

/* Assignments */
.assignment-search-well{
	padding-left: 35px;
	padding-right: 35px;
}

.assignment-panel .panel-title{
	padding-left: 40px;
	font-size: 36px;
} 

.assignment-panel .panel-heading .information{
	font-size: 20px;
	line-height: 40px;
	margin-bottom: 0px;
}

.assignment-panel .panel-body .description{
	font-size: 18px;
	padding-left: 100px;
	padding-right: 100px;
	padding-top: 30px;
}

.assignment-content .panel-heading .information{
	font-size: 15px;
	margin-bottom: 0px;
}

.assignment-content .panel-heading{
	padding-left: 30px;
	padding-right: 30px;
}

.assignment-content .panel-title{
	font-size: 24px
}

.assignment-content .panel-heading .btn{
	float: right;
}

.assignment-content .panel-body{
	padding-top: 30px;
	padding-right: 40px;
	padding-left: 40px;
}

.assignment-footer{
	height: 50px;
	line-height: 50px;
	background-color: #f5f5f5;
}

.assignment-footer .progress{
	margin-top: 21px;
	height: 10px;
}

/* Submissions */
.submission .submission-points-input{
	color: #ffffff;
	width: 30px;
	height: 25px;
	margin-top: 0px;
	float: right;
}

.submission .submission-points-form-group{
	margin-left: 0px;
	margin-right: -80px;
	margin-bottom: 0px;
}

.submission textarea.comment-textarea{
	background-color: #f5f7f9;

	padding-left: 10px;
	padding-right: 10px;
}

/* Dashboard */
.panel-dashboard-course p{
	margin-bottom: 0px;
}

.course-title{
	font-size: 24px;
}

/* Questions */
.question .question-context .context{
	font-size: 15px;
}

.question textarea.frq-textarea{
	background-color: #f5f7f9;
	padding-left: 10px;
	padding-right: 10px;
}

.question textarea.frq-textarea:read-only {
	background-color: #f5f7f9;
	padding-left: 10px;
	padding-right: 10px;
}

.question-edit .config{
	padding-left: 80px;
}

.question-edit .config label{
	margin-left: 20px;
	margin-right: 20px;
}

.question-edit .config input[type="text"]{
	width: 30px;
}

.question-edit .config .frq-config{
	padding-top: 5px;
	padding-left: 55px;
}

.question-edit .config .frq-config label{
	margin-right: 0px;
}

.question-edit .config .frq-config .checkbox{
	margin-bottom: 2px;
}
/* Exercises */

.exercise .exercise-context .context{
	font-size: 15px;
}

.exercise-edit{
	min-height: 500px;
}

.exercise-edit .config .form-inline{
	padding-left: 70px;
}

.exercise-edit .config .form-group{
	margin-left: 50px;
	margin-right: 50px;
}

.exercise-edit .config label{
	margin-left: 20px;
	margin-right: 20px;
}

.exercise-edit .config .small-input{
	width: 30px;
}

.exercise-ide-bar{
	padding-left: 50px;
	padding-right: 50px;
}

.exercise-tab-container{
	padding-bottom: 2px;
	overflow: auto;
	overflow-y: hidden;
	white-space: nowrap;
}

.exercise-tab{
	display: inline-block;
	margin-right: 10px;
}

.btn-file{
	min-width: 120px;
	text-transform: none;
}

.btn-file-close{
	background-color: #e6e6e6;
}

.exercise-edit .panel-body .form-inline .form-control.full-input{
    width: 100%;
}

.exercise-edit .panel-body label.inline-label {
	font-size: 16px;
    line-height: 37px;
    text-align: right;
}

.exercise-check{
	color: #4caf50;
}

.exercise-times{
	color: #e51c23;
}
/* Classrooms List */
.classrooms-list .list-group-item{
	padding-left: 50px;
	padding-right: 50px;
}

.classrooms-list .memes{
	line-height: 30px;
	margin: 0px;
}


/* ACE Editor */
.ace_editor { 
	height: 200px; 
}