<div class="container" ng-cloak>
	<div class="row col-xs-12 small-spacer" ng-show="assignmentCtrl.user.role === 'teacher' && assignmentCtrl.hasContent()">
		<div class="col-md-4 col-md-offset-4 col-xs-6 col-xs-offset-3" ng-show="!assignmentCtrl.assignment.bIsOpen">
			<button class="btn btn-block btn-primary" ng-click="assignmentCtrl.showOpenModal()">Open Assignment</button>
		</div>

		<div class="col-xs-12" ng-show="assignmentCtrl.assignment.bIsOpen">
			<h4 class="text-center small-spacer-top">
				Due Date: {{ assignmentCtrl.assignment.dueDate | date:'MMM dd, hh:mm a' }} 
			</h4>
			<h4 class="text-center small-spacer-top">
				Points: {{ assignmentCtrl.assignment.pointsWorth }}
			</h4>
			<div class="col-md-4 col-md-offset-4 col-xs-6 col-xs-offset-3" ng-show="assignmentCtrl.assignment.bIsOpen">
				<button class="btn btn-block btn-danger" ng-click="assignmentCtrl.showCloseModal()">Close Assignment Early</button>
			</div>
		</div>
	</div>

	<div class="row col-xs-12">
		<div class="well col-md-10 col-md-offset-1 col-xs-12 col-xs-offset-1" ng-hide="assignmentCtrl.hasContent()">
			<h4 class="text-center">Nothing here yet. Click the buttons below to start adding to your assignment!</h4>
		</div>

		<div class="assignment">
			<div class="row med-spacer" ng-repeat="content in assignmentCtrl.assignment.content">
				<div ng-if="content.type === 'question'" ng-init="bIsNormal=true ; bShowNormal=true">
					<question ng-if="bIsNormal === true" ng-show="bShowNormal === true"></question>
					<question-edit ng-if="bIsEditing === true" ng-show="bShowEdit === true"></question-edit>
				</div>
				<div ng-if="content.type === 'exercise'" ng-init="bIsNormal=true ; bShowNormal=true">
					<exercise ng-if="bIsNormal === true" ng-show="bShowNormal === true"></exercise>
					<exercise-edit ng-if="bIsEditing === true" ng-show="bShowEdit === true"></exercise-edit>
				</div>
			</div>
		</div>

		<div ng-show="assignmentCtrl.user.role === 'teacher'">
			<div class="row spacer">
				<div class="col-md-3 col-md-offset-3 col-xs-8 col-xs-offset-2">
					<button class="btn btn-primary btn-block" ng-click="assignmentCtrl.addQuestion()">Add Question</button>
				</div>
				<div class="col-md-3 col-md-offset-0 col-xs-8 col-xs-offset-2">
					<button class="btn btn-primary btn-block" ng-click="assignmentCtrl.addExercise()"><i class="fa fa-terminal" aria-hidden="true"></i> Add Exercise</button>
				</div>
			</div>
		</div>
	</div>

	<footer class="assignment-footer navbar-fixed-bottom" ng-if="assignmentCtrl.user.role === 'student'	">
		<div class="col-md-2 col-xs-3">
			<p class="pull-right">Progress: </p>
		</div>
		<div class="col-md-8 col-xs-6">
			<div class="progress progress-striped active">
				<div class="progress-bar progress-bar-success" style="width: {{assignmentCtrl.getProgressBarWidth()}}"></div>
			</div>
		</div>
	</footer>

</div>

