<div class="container">
	<div class="row">
		<h2 class="text-center">{{ classroomCtrl.classroom.name }}</h2>
		<p class="text-center">Registration Code: {{ classroomCtrl.courseCode }}-{{ classroomCtrl.classroom.classCode}}</p>
	</div>

	<div class="row small-spacer">
		<h5 class="text-center">{{ classroomCtrl.classroom.students.length }} students</h5>
	</div>

	<div class="row">
		<ng-form name="studentForm" class="form-horizontal" ng-repeat="student in classroomCtrl.classroom.students track by $index">
			<div class="form-group small-spacer">
				<label class="col-md-2 col-md-offset-1 control-label">{{ studentForm.$dirty }}</label>
				<div class="col-md-2">
					<input type="text" ng-model="student.firstName" class="form-control" autocomplete="off">
				</div>
				<div class="col-md-2">
					<input type="text" ng-model="student.lastName" class="form-control" autocomplete="off">
				</div>
				<div class="col-md-2">
					<input type="text" ng-model="student.gradebookID" class="form-control" autocomplete="off">
				</div>
				<div class="col-md-1">
					<btn ng-click="classroomCtrl.editStudent(student, studentForm)" ng-show="studentForm.$dirty" class="btn btn-success btn-sm"><i class="fa fa-floppy-o" aria-hidden="true"></i></btn>

					<btn double-click="classroomCtrl.deleteStudent(student._id)" double-click-class="btn-warning btn-danger" class="btn btn-sm"><i class="fa fa-times" aria-hidden="true"></i></btn>

				</div>
			</div>
		</ng-form>
	</div>

	<div class="row med-spacer">
		<div class="form-horizontal">
			<div class="form-group">
				<label class="col-md-2 col-md-offset-1 control-label">Add New User</label>
				<div class="col-md-2">
					<input type="text" ng-model="classroomCtrl.newStudent.firstName" placeholder="First Name" class="form-control" autocomplete="off">
				</div>
				<div class="col-md-2">
					<input type="text" ng-model="classroomCtrl.newStudent.lastName" placeholder="Last Name" class="form-control" autocomplete="off">
				</div>
				<div class="col-md-2">
					<input type="text" ng-model="classroomCtrl.newStudent.gradebookID" placeholder="Gradebook ID" class="form-control" autocomplete="off">
				</div>
				<div class="col-md-1">
					<btn ng-click="classroomCtrl.createStudent()" class="btn btn-success btn-sm"><i class="fa fa-plus" aria-hidden="true"></i></btn>
				</div>
			</div>
		</div>
	</div>

	<div class="form-horizontal spacer">
		<div class="form-group">
			<label class="col-md-4 col-md-offset-1 control-label">Import from CSV</label>
			<div class="col-md-4">
				<input type="file" placeholder="First Name" class="form-control" autocomplete="off">
			</div>
			<div class="col-md-2">
				<btn ng-click="classroomCtrl.createStudent()" class="btn btn-primary btn-sm"><i class="fa fa-plus" aria-hidden="true"></i></btn>
			</div>
		</div>
	</div>

	<div class="well">
		{{ classroomCtrl.classroom }}
	</div>

	<div class="row">
		<div class="col-md-4 col-md-offset-4 col-xs-6 col-xs-offset-3">
			<btn class="btn btn-danger btn-block" ng-click="classroomCtrl.openDeleteClassroomModal()">Delete Classroom</btn>
		</div>
	</div>
</div>