<div class="container">
	<div class="row">
		<div class="col-md-8 col-md-offset-2 col-xs-10 col-xs-offset-2" ng-hide="classroomsCtrl.classrooms.length > 0">
			<div class="well">
				<h4 class="text-center">
					No classrooms yet. Click the button below to add one!
				</h4>
			</div>
		</div>

		<div class="col-md-8 col-md-offset-2 col-xs-10 col-xs-offset-2">
			<div class="list-group">
				<a href="#" class="list-group-item" ng-repeat="classroom in classroomsCtrl.classrooms" ui-sref="root.classroom({ courseCode: classroomsCtrl.courseCode, classCode: classroom.classCode })">
					<div class="row">
						<div class="col-md-7 col-xs-12">
							<h4 class="list-group-item-heading">
								{{ classroom.name }}
							</h4>
						</div>

						<div class="col-md-5 col-xs-12">
							<p class="list-group-item-text">
								{{ classroom.studentNum }} students
							</p>
						</div>
					</div>
				</a>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-4 col-md-offset-4 small-spacer-bottom">
			<btn ng-click="classroomsCtrl.openCreateClassroomModal()" class="btn btn-success btn-block">Add Classroom</btn>
		</div>
	</div>
</div>