<div class="container" ng-show="dashboardCtrl.courses !== null">
	<h2 class="text-center">Courses</h2>
	<hr>

	<div class="row">
		<div class="col-md-6 col-md-offset-3 col-xs-8 col-xs-offset-2 small-spacer" ng-repeat="course in dashboardCtrl.courses">
			<a ui-sref="root.course({ courseCode: '{{ course.courseCode }}' })">
				<div class="panel panel-primary panel-dashboard-course">
					<div class="panel-heading">
						<h2 class="panel-title course-title">{{ course.name }}</h2>
					</div>
					<div class="panel-body">
						<div class="row col-xs-12">
							<div ng-show="course.openAssignments.length === 0">
								<p class="text-center">There are currently no open assignments.</p>
							</div>
							<div class="col-xs-12 tiny-spacer" ng-repeat="assignment in course.openAssignments">
								<p class="pull-left">{{ assignment.name }}</p>
								<p class="pull-right">Due: {{ assignment.dueDate | date:'MMM dd, hh:mm a' }}</p>
							</div>
						</div>
					</div>
				</div>
			</a>
		</div>
	</div>
	
	<div class="row small-spacer">
		<div class="col-md-2 col-md-offset-5 small-spacer">
			<button ng-show="dashboardCtrl.user.role === 'teacher'" class="btn btn-success btn-block" ng-click="dashboardCtrl.showCourseCreationModal()">Create Course!</button>
			<button ng-show="dashboardCtrl.user.role === 'student'" class="btn btn-success" ng-click="dashboardCtrl.showRegistrationModal()">Register for Course!</button>
		</div>
	</div>

</div>