<div class="container">
	<div class="row">
		<div class="col-md-8 col-md-offset-2 col-xs-10 col-xs-offset-2" ng-hide="submissionsCtrl.classrooms.length > 0">
			<div class="well">
				<h4 class="text-center">
					No submissions yet. 
				</h4>
			</div>
		</div>

		<div class="col-md-8 col-md-offset-2 col-xs-10 col-xs-offset-2 med-spacer-bottom">
			<div class="list-group classrooms-list">
				<a href="#" class="list-group-item" ng-repeat="classroom in submissionsCtrl.classrooms track by $index" ng-click="submissionsCtrl.getSubmissions(classroom.classCode)">
					<div class="row">
						<div class="col-md-7 col-xs-12">
							<h4 class="list-group-item-heading">
								{{ classroom.className }}
							</h4>
						</div>

						<div class="col-md-4 col-xs-12">
							<p class="memes pull-right">
								{{ classroom.submissionIDs.length }} submissions
							</p>
						</div>
					</div>
				</a>
			</div>
		</div>
	</div>
	<div class="row" ng-show="submissionsCtrl.submissions.length > 0">
		<table class="table table-striped table-hover">
			<thead>
				<tr>
					<th>Name</th>
					<th>Progress</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="submission in submissionsCtrl.submissions" ui-sref="root.submission({ courseCode: submissionsCtrl.courseCode, assignmentID: submissionsCtrl.assignmentID, submissionID: submission._id })">
					<td>{{ submission.studentName }}</td>
					<td>{{ submission.pointsEarned/submissionsCtrl.assignment.pointsWorth }}</td>
				</tr>
			</tbody>
		</table> 
	</div>
</div>