<div class="container" ng-show="courseCtrl.course !== null" ng-cloak>
	<div class="row small-spacer-top">
		<h3 class="text-center">Current Assignments</h3>
	</div>

	<div class="row">
		<div class="small-spacer-top col-md-6 col-md-offset-3 col-xs-8 col-xs-offset-2" ng-repeat="assignment in courseCtrl.course.openAssignments">
			<a ui-sref="root.assignment({ courseCode: courseCtrl.course.courseCode, assignmentID: assignment.assignmentID })">
				<div class="panel panel-success">
					<div class="panel-heading">
						<h3 class="panel-title">{{ assignment.name }}</h3>
					</div>
					<div class="panel-body">
						<div class="medSpacer col-xs-12">
							<p>{{ assignment.description }}</p>
						</div>

						<p class="pull-left">Due: {{ assignment.dueDate | date:'MMM dd, hh:mm a' }}</p>
						<p class="pull-right">Points: {{ assignment.pointsWorth }}</p>
					</div>
				</div>
			</a>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12">
			<h3 class="text-center" ng-if="courseCtrl.user.role === 'teacher'">Course Management</h3>
		</div>
		<div class="row small-spacer">
			<div class="col-md-4 col-md-offset-4 col-xs-6 col-xs-offset-3">
				<button ui-sref="root.assignments({ courseCode: courseCtrl.course.courseCode })" class="btn btn-block btn-primary">Assignments</button>
			</div>
		</div>

		<div class="row small-spacer" ng-if="courseCtrl.user.role === 'teacher'">
			<div class="col-md-4 col-md-offset-4 col-xs-6 col-xs-offset-3">
				<button ui-sref="root.classrooms({ courseCode: courseCtrl.course.courseCode })" class="btn btn-block btn-primary">Classrooms</button>
			</div>
		</div>

		<div class="row small-spacer" ng-if="courseCtrl.course.owner._id === courseCtrl.user._id">
			<div class="col-md-4 col-md-offset-4 col-xs-6 col-xs-offset-3">
				<button class="btn btn-block btn-danger" ng-click="courseCtrl.showDeleteCourseModal()">Delete Course</button>
			</div>
		</div>

	</div>
</div>