<div class="container" ng-show="dashboardCtrl.courses !== null">
	<h2>Dashboard</h2>
	<hr>
	<div class="col-md-6 col-md-offset-3 col-xs-8 col-xs-offset-2" ng-repeat="course in dashboardCtrl.courses">
		<a ui-sref="root.course({ courseCode: '{{ course.courseCode }}' })">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">{{ course.name }}</h3>
				</div>
				<div class="panel-body">
					<p class="pull-right">{{ course.assignmentName }}</p>
					<p class="pull-left">{{ course.assignmentDueDate }}</p>
				</div>
			</div>
		</a>
	</div>
	<div class="med-spacer" ng-show="dashboardCtrl.user.bIsTeacher">
		<div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2">
			<div class="alert alert-warning" ng-show="dashboardCtrl.authMessage">
				<p>{{ dashboardCtrl.errMessage }}</p>
			</div>
			<form name="newCourseForm" class="form-horizontal" ng-submit="newCourseForm.$valid && dashboardCtrl.createCourse()" novalidate>
				<fieldset>
					<div class="form-group">
						<div class="col-md-10 col-md-offset-1">
							<input type="text" ng-model="dashboardCtrl.newCourse.name" placeholder="Course Name" class="form-control" autocomplete="off">
						</div>
					</div>

					<div class="form-group">
						<div class="col-md-10 col-md-offset-1">
							<input type="text" ng-model="dashboardCtrl.newCourse.courseCode" ng-pattern="/^[a-zA-Z0-9]*$/"placeholder="Course Code" class="form-control" autocomplete="off">
						</div>
					</div>

					<div class="form-group">
						<div class="col-md-10 col-md-offset-1">
							<input type="text" ng-model="dashboardCtrl.newCourse.password" ng-pattern="/^[a-zA-Z0-9]*$/" placeholder="Course Registration Key" class="form-control" autocomplete="off">
						</div>
					</div>

					<div class="form-group">
						<div class="col-md-10 col-md-offset-1">
							<input type="text" ng-model="dashboardCtrl.newCourse.defaultLanguage" ng-pattern="/^[a-zA-Z0-9]*$/" placeholder="Default Language" class="form-control" autocomplete="off">
						</div>
					</div>

					<div class="form-group">
						<div class="col-md-4 col-md-offset-4 col-xs-6 col-xs-offset-3">
							<button type="submit" class="btn btn-block btn-primary">Submit</button>
						</div>
					</div>
				</fieldset>
			</form>
		</div>
	</div>
</div>