<!DOCTYPE html>
<html>
<head>
	<% include ../../partials/head %>
</head>
<body>
	<div class="container">
		<% include ../../partials/header %>
		<% if (typeof message != 'undefined'){ %>
			<%= message %>
		<% } %>
		<div class="col-xs-8 col-xs-offset-2">
			<% for (var i = course.assignments.length; i >= 0; i--){ %>
				<p><%= course.assignments[i] %></p>
			<% } %>
		</div>
	</div>
	<% include ../../partials/footer %>
</body>
</html>